<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="outputHelper" class="注入方式.setter方法注入.OutputHelper">
        <property name="outputGenerator" ref="jsonPrinter" />
    </bean>
    <bean id="csvPrinter" class="注入方式.setter方法注入.CSVPrinter" />
    <bean id="jsonPrinter" class="注入方式.setter方法注入.JSONPrinter" />
</beans>